<template name="postsList">



  <section id="masthead">
      <p>Soluciones colaborativas <br> para problemas comunes</p>
      <a href="{{pathFor 'postSubmit'}}"><button type="button" class="btn-action-blue">Proponé una solución</button></a>
  </section>



  <main>

      <section id="recent" class="column">

          <h2>Últimas soluciones</h2>

          {{#each posts}}
            {{> postItem}}
          {{/each}}


      </section>

      <section id="popular" class="column">

          <h2>Soluciones Populares</h2>

          {{#each posts2}}
            {{> postItem}}
          {{/each}}

      </section>
  </main>

{{#if hasMorePosts}}  
  <div class="view-more">
      <a  href="{{nextPath}}"><button type="button" class="btn-action-blue">Ver más soluciones</button></a>
  </div>
{{/if}}
<!--
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
  {{#if hasMorePosts}}
    <a class="load-more" href="{{nextPath}}">Load more</a>
  {{/if}}
-->
</template>
